input[type=file].userfile{
	display:inline-block;
}

.fileModal{
	margin-top:200px;
}
.edit-window{
	background-color: white;
    width: 50%;
    margin: auto;
}

textarea.form-control{
	max-width: 100%;
}

.edit{
	display: inline-block;
}

.upload-form{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	
}

.content-wrapper{
	padding-top: 48px;
	margin-left: 20px;
}

.comment{
	white-space: pre-wrap;
}

.upload-error{
	color:red;
	margin-top: 20px;
	font-size: 16px;
}

.commentform{
	width: 400px;
}

.commentform input{
	margin-bottom: 20px;
}

.commentform input[type="submit"]{
	margin-top: 10px;
}

.commentform textarea{
	max-width: none;
}

.commentary{
    margin-bottom: 10px;
}
.nick_name{
    color: #867979;
    font-size: 12px;
}

.date{
    margin-left: 10px;
}

#dropZone{
    text-align: center;    
    
    width: 500px;
    padding: 50px 0;
    margin: 50px auto;
    
    
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
	border: 1px solid #ccc;
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
	border: 1px solid #ccc;
    background: #afa;
    border-color: #0f0;
}