input[type="file"]{
	display:inline-block;
}

.modal{
	margin-top:200px;
}
.edit-window{
	background-color: white;
    width: 50%;
    margin: auto;
}

textarea.form-control{
	max-width: 100%;
}

.edit{
	display: inline-block;
}

.upload-form{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	
}

.content-wrapper{
	padding-top: 48px;
	margin-left: 10px;
}