{% extends 'layout.html'%}
{% block page_title %} {{file.getFileName()}} {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h1>
        {{file.getFileName()}}<small>({{file.getFormattedSize()}})</small>
        <h1>
    </div>
    {% if file.isImage()%}
    <a href="http://filehosting.ru/files/{{file.getId()}}{{file.getfileName()}}">
    <img src="http://filehosting.ru/thumbs/{{file.getId()}}{{file.getfileName()}}">
    </a>
    {% endif %}
    <section>
        <p>{{file.getComment()}}</p>
    </section>
    <section>
        <p>Дата загрузки: {{file.getUploadTime()}}</p>
    </section>
    <div class="buttons">
        {% if token==file.getToken()%}
        <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Редактировать</a>
        <form class="edit" action="/" method="POST">
            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header edit-window">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Редактировать информацию о файле</h3>
                </div>
                <div class="modal-body edit-window">
                    <p>
                        Комментарий
                        <textarea class="form-control" rows="5" name="comment">{{file.getComment()}}</textarea>
                    </p>
                </div>
                <div class="modal-footer edit-window">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">закрыть</button>
                    <input type="hidden" name="id" value="{{file.getId()}}">
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
        </form>
        {% endif %}
        <a href="http://filehosting.ru/download/{{file.getId()}}/{{file.getId()}}{{file.getfileName()}}" class="btn btn-primary">Скачать</a>
    </div>
</div>
{% endblock %}