{% extends 'layout.html.twig' %}
{% block page_title%} Main Page {% endblock %}
{% block home_class %} class="active" {% endblock %}
{% block content %} 
<div class="upload-form">
    <form enctype="multipart/form-data" action = "/" method="POST">
    	<div id="dropZone">
        <input type="hidden" name="MAX_FILE_SIZE" id="maxFileSize" value="{{maxSize}}">
        <input class="userfile" name="userfile" type="file" required>
        <button type="submit" class="btn btn-default">Загрузить</button>
        </div>
    </form>
    <div class="upload-error">{{error}}</div>
</div>
<script src="/js/drop.js">
</script>
{% endblock %}
